unstructured
pillow 
lxml 
pillow
tiktoken
langchain 
langchain-community 
langchain-openai 
langchain-groq
python_dotenv
pymilvus[model]
pymilvus
transformers
torch
poppler-utils 
tesseract
pytesseract
python-magic
langchain-groq
langchain-milvus
agno
streamlit
faiss-cpu
