unstructured[all-docs] 
pillow 
lxml 
pillow
tiktoken
langchain 
langchain-community
langchain-openai 
langchain-groq
python_dotenv
transformers
poppler-utils 
tesseract
pytesseract
langchain-groq
agno
opencv-python-headless
cohere==5.15.0
langchain-cohere==0.4.4
streamlit
faiss-cpu
langgraph
langchain-google-genai
langchain-unstructured[local]
scikit-learn
langchain-core