unstructured[all-docs] 
pillow 
rank_bm25
lxml 
pillow
tiktoken
langchain 
langchain-community 
langchain-openai 
langchain-groq
python_dotenv
pymilvus[model]
pymilvus
transformers
torch
poppler-utils 
tesseract
pytesseract
langchain-groq
langchain-milvus
agno
opencv-python
streamlit
faiss-cpu